:root {
    --primary-colour: #000000;
    --background-colour: #ffffffff;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    z-index: 0;
}

body > * {
    z-index: inherit;
}

h1 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

.window {
    display: none;
    border: 1px solid var(--primary-colour);
    width: calc(100vw/3);
    height: 50vh;
    position: absolute;
    top: 25vh;
    right: calc(100vw / 3);
    z-index: 1;
    padding: 1em;
    border-bottom: 5px solid rgb(71, 71, 71);
    border-right: 5px solid black;
    border-bottom-right-radius: 1px;
}

.window-open {
    background-color: var(--background-colour);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

button, input[type=file] {
    margin: 1em;
}

textarea {
    width: 90vw;
    height: 75vh;
}